// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

body.active_admin {

  a.no_decoration {
    text-decoration: none;
    color: #323537;
  }

  form {

    table.selection {
      width: inherit;
      tr:nth-child(odd) {
        background-color: #d9e4ec;
      }

      .options input {
        margin-right: 1em;
      }
    }
  }

  .rule_set h2{
    margin-top: 1em;
  }

  table.sortable_list {
    width: inherit;
    margin-left: 20px;
  }

  ul.matching_answers {
    border: black 1px solid;
    padding: 10px;

    li {
      list-style: none;
    }
  }

  .rule_example {
    margin: 10px 20px 30px;
  }

  div.warn {
    border: red solid 2px;
    padding: 0;
    margin: 10px;

    h3 {
      background-color: red;
      margin: 0;
      padding: 5px 10px;
      color: white;
    }

    p {
      padding: 5px 10px;
      font-size: 1.2em;
    }
  }

}
