<h1>Questionnaires</h1>
<div>
<% @questionnaires.each do |questionnaire| %>
  <div class="questionnaire">
    <%= link_to(
          questionnaire.title,
          questionnaire_path(questionnaire),
          :class => 'text_link'
        )
    %>
  </div>
<% end %>
</div>

<% if @qwester_rule_sets.present?  %>
<h2>Matching rule sets</h2>
<ul>
<% @qwester_rule_sets.each do |rule_set| %>
  <li>
    <%= rule_set.title %>:
    <%= link_to(rule_set.link_text, rule_set.url) %>
  </li>
<% end %>
</ul>
<% end %>

<%=
  content_tag(
    'p',
    link_to('Clear answers and start again', reset_questionnaires_path)
  ) if @qwester_answer_store and @qwester_answer_store.answers.present?
%>
