<!DOCTYPE html>
<html>
<head>
  <title>Qwester</title>
  <%= stylesheet_link_tag    "qwester/application", :media => "all" %>
  <%= javascript_include_tag "qwester/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
